$primary-grey: #ffffff80;;
$contacts-grey: #B8B8B8;
$footer-grey: #8A8A8A;
$cyan: #00D1FF;
$pink: #FF007A;
$white: #FFFFFF;
$black: #000000;

%grey-uppercase {
    color: $primary-grey;
    text-transform: uppercase;
}